.footer {
  width: 100%;
}


.wrapper_footer {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 0 0 20px;
}


.footer__copyright {
  max-width: fit-content;
  padding: 15px;
  background-color: #fff;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  border-radius: 40px;
}

