.stat {
  display: flex;
  justify-content: center;
  align-content: center;
}

.wrapper_stat {
  width: 100%;
  max-width: 1220px;
  background-color: #ffffff;
  padding: 40px;
  margin: 50px 0 100px;
  border-radius: 40px;
}

.stat__title {

}
